// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.admin-banner{
    font-style: italic;
    font-weight: bold;
    color: rgb(192, 21, 21);
}